body {
    background: linear-gradient(to bottom, #000000, #434343); /* Ustawia gradient od czerni do szarości */
}


header {
    background: #1e1e1e; /* Ciemniejsze tło dla nagłówka */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em; /* Powiększony nagłówek */
    margin: 0;
}

h2 {
    font-size: 2em; /* Powiększony nagłówek dla sekcji przepisów */
    margin: 20px 0;
    text-decoration: underline; /* Podkreślony nagłówek */
}

.recipe {
    background: #292929; /* Tło dla przepisów */
    border-radius: 8px; /* Zaokrąglone rogi */
    padding: 15px;
    margin: 10px 0;
}

.recipe img {
    max-width: 100%; /* Responsywne obrazy */
    border-radius: 8px; /* Zaokrąglone rogi obrazów */
}

.ingredients {
    list-style-type: none; /* Usunięcie punktów z listy składników */
    padding: 0;
}

button {
    background: #ff4081; /* Kolor przycisku */
    color: #ffffff; /* Jasny tekst przycisku */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
